{{ define "main" }}

<div class="bio-container">
    <section class="bio" id="bio-section">
        {{partial "pfp.html" . }}
    </section>
    <div class="homepage-content card">
            {{ .Content }}
    </div>
</div>

<hr class="hero-container">
<section class="hero-container">
        {{partial "hero.html" . }}
</section>

<h1> Ongoing Projects </h1>
<hr>
<script src="https://unpkg.com/lucide@latest"></script>
<!--Used for icons in the cardbox-->
<div class="projects card-box">
    {{ $projects := where (where site.RegularPages "Type" "==" "project") "File.LogicalName" "in"
    site.Params.ongoingProjects }}
    {{ range $projects }}
    {{partial "projcard.html" .}}
    {{end}}
</div>
<h1> Featured Posts </h1>
<hr>
<div class="articles h-feed">
    {{ $pages := where (where site.RegularPages "Type" "in" site.Params.mainSections) "Params.hidden" "!=" true }}
    {{ range (.Paginate $pages).Pages }}
    {{ partial "post-summary.html" . }}
    {{ end }}
    {{ partial "pagination.html" . }}
</div>
<script>
    lucide.createIcons();
</script>
{{ end }}
