<script src="js/hero.js" type="module"></script>
<script src="https://d3js.org/d3.v6.js"></script>
<div class="figure-container hero">

  <h2 class="hero"> Featured Module: Where is <em>The Cloud?</em></h2>
    <div id="featured-dataviz">
    </div>
    <p class="hero commentary homepage-content card">
    A small demo showing how to use a dataset to generate a three.js model.
    This was done using a dataset of cloud data centers retrieved from <a href="https://www.cloudinfrastructuremap.com/">Cloud Infrastructure Map</a>.
    Code is availible on <a href="https://github.com/soybison/site/tree/master/static/js/hero.js">GitHub</a>.
    Different providers are shown in different colors.
    Alibaba Cloud is shown in <span style="color: white">White</span>.
    Amazon Web Services is shown in <span style="color: #ffaa00">Orange</span>.
    Google Cloud is shown in <span style="color: #f38ba8">Pink</span>.
    Huawei Cloud is shown in <span style="color: #dc2222">Red</span>.
    IBM Cloud is shown in <span style="color: #001d6c; background-color: #f5e0dc; border-radius: 5px"><b>Dark Blue</b></span>.
    Microsoft Azure is shown in <span style="color: #33ff33">Green</span>.
    Oracle Cloud is shown in <span style="color: #ff00ff">Purple</span>.
    Tencent Cloud is shown in <span style="color: #00bbff">Light Blue</span>.
    Locations are not exact, and a small jitter is applied to prevent overlaps.
    Globe by <a href="https://www.cgtrader.com/denysalmaral/">Denys Almaral</a>.
    </p>
<div>
