{{ $light := resources.Get "css/light.css" }}
{{ $dark := resources.Get "css/dark.css" }}

{{ $light.Content }}

{{ if eq site.Params.style "dark-without-switcher" }}
:root {
    {{ $dark.Content }}
}
{{ else if eq site.Params.style "auto-without-switcher" }}
@media (prefers-color-scheme: dark) {
    :root {
        {{ $dark.Content }}
    }
}
{{else }}
[data-theme="dark"] {
    {{ $dark.Content }}
}
{{ end }}

:root {
    --bar-chart-padding: 5;
}

/* Basic */
html {
    font-family: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    scroll-behavior: smooth;
}


body {
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    background: var(--bg-color);
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

em {
    font-weight: 500;
}

h1.my-name{
    display: inline-block;
    padding: 1em 0.05em;
    font-size: clamp(2em, 1vw, 4em);
    font-weight: 700;
    /*position: absolute;*/
    color: var(--lavender);
    transition: transform 10000ms;
    transition-timing-function: linear;
}


article li {
    padding: .5rem;
}

article li::marker {
    color: var(--green);
}

.copyright {
    color: var(--minor-text-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}
main {
    margin: 0 auto;
    padding: 0 auto;
}

.container {
    margin: 0 auto;
}

main {
    outline:none;
}

/* Headers */
h1 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 800;
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
}

/* Links */

a {
    color: var(--link-color);
    text-decoration: none;
    /*border-bottom: 1px solid transparent;*/
    transition-duration: 0.4s;
}

a:hover,
a:focus,
a:active {
    color: var(--link-state-color);
    transform: scale(1.15);
    /*border-bottom: 1px solid var(--link-state-border-color);*/
}
/*a:visited {*/
    /*color: var(--link-visited-color);*/
    /*border-bottom: 1px solid var(--link-visited-border-color);*/
/*}*/

a:active,
a:hover {
    outline: 0;
}

a:active {
    opacity: 0.9;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus,
a.skip-main:active {
    left: auto;
    top: 0px;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding: 4px 6px 4px 6px;
    text-decoration: underline;
    border: none;
}
/* The Call and response thing*/
.response {
    border-left: 0px;
    border-right: 2px solid var(--subtext0);
    text-align: right;
    font-weight: 300;
    font-style: italic;
}
/* Focus directive */
.focus {
    text-align: center;
    background: var(--surface1);
    font-weight: 800;
    color: var(--rosewater);
    font-family: "FiraCode Mono", monospace;
    margin: 20px auto;
    width: min-content;
    white-space: nowrap;
    padding: 4px 10px;
    border-radius: 5px;
    border-top: 2px solid var(--overlay1);
    border-left: 1px solid var(--overlay1);
    box-shadow: 10px 10px 5px var(--crust);
    transition-duration: 0.1s;
}

/* Table */
thead {
    background: var(--thead-bg-color);
}

.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}


th, td {
    padding: 0.5em 1em;
    border: 1px double var(--table-border-color);
}

/* Code */
pre {
    padding: 1em;
    max-width: 100%;
    overflow: auto;
}

code,
pre,
kbd {
    color: var(--pre-color);
    padding: 5px 2px;
    background-color: var(--pre-bg-color);
    font-family: "Ioskeva Mono", monospace;
    font-size: 0.90em;
    line-height: 154%;
}
.highlight code {
    position: relative;
    overflow: wrap;
}


pre code, pre kbd {
    color: inherit;
    background-color: inherit;
}

/* Styles */

blockquote {
    border-left: 2px solid var(--bq-color);
    padding: 0.1em 1em;
    margin-left: 0.75em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    color: var(--hr-color);
    background-color: var(--hr-color);
    border: none;
    height: 1px;
    width: 90vw;
    margin: auto;
}

/* Header */

.common-header {
    padding-bottom: 1.5em;
}

header a {
    color: var(--font-color);
}

header h1 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
}

header h2 {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.site-title {
    white-space: nowrap;
    font-weight: 700;
}


header nav:not(:empty){
    margin-top: 1em;
    max-width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

header nav a {
    display: inline-block;
    margin: 0 2.5%;
    padding: 0.75em;
    border-radius: 10px;
    background: var(--mantle);
    border-top: 2px solid var(--surface0);
    border-left: 1px solid var(--surface0);
    box-shadow: 10px 10px 15px var(--crust);
}
header nav a:nth-child(3n-2) {
    transform: rotate(-3deg) translate(-0.15em, -0.2em);
}
header nav a:nth-child(3n-1) {
    transform: rotate(0.5deg) translate(0em, -0.2em);
}
header nav a:nth-child(3n) {
    transform: rotate(3.5deg) translate(-0.1em, 0em);
}
header nav a:hover {
    transform: scale(1.15);
}

/* Social icons */

.social-icon:hover > span > svg {
    transform: scale(1.25);
    transition-duration: 0.2s;
    box-shadow: 10px 10px 10px var(--crust);
}

.social-icons {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.social-icons li {
    display: inline;
}

.social-icons li:not(:first-of-type) {
    margin-left: 0.5em;
}

.social-icons a:hover,
.social-icons a:focus,
.social-icons a:active {
    color: inherit;
    border-bottom: none;
    text-decoration: none;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}

.inline-svg > svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}


/* Pages */
main h1 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.post-short-list:first-of-type {
    margin-top: 1em;
}

/* Articles */

.post-header {
    margin-top: 1em;
    line-height: 1.1em;
    margin-bottom: 1em;
}

.post-header header {
    display: inline;
}

.post-navigation {
    background: var(--nav-bg-color);
    text-align: center;
    margin-top: 1em;
    max-width: 100%;
    padding: 0.5em 0;
}

.post-navigation a:first-of-type {
    margin-left: 0;
}

.post-navigation a {
    color: var(--nav-link-color);
    margin-left: 2em;
}

.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active {
    color: var(--link-state-color);
}

.post-short-list .post-title {
    display: inline;
}

.post-title.favorite::after {
    content: "☆";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.draft::after {
    content: "✎";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.favorite.draft::after {
    content: "☆ ✎";
    display: inline-block;
    margin-left: 0.2em;
}
div.h-feed {
    display: flex;
    flex-direction: column;
}
article {
    background: var(--mantle);
    padding: 1.5rem;
    margin: 2rem;
    border-top: 2px solid var(--surface0);
    border-left: 1px solid var(--surface0);
    border-radius: 10px;
    box-shadow: 10px 10px 15px var(--crust);
    color: var(--text);
    transition-duration: 0.5s;
}

article.h-feed:nth-child(3n-1) {
    transform: rotate(-1deg) translate(1.15em, -0.3em);
}
article.h-feed:nth-child(3n-2) {
    transform: rotate(0.7deg) translate(-0.2em, -0.5em);
}
article.h-feed:nth-child(3n) {
    transform: rotate(1deg) translate(-1em, -0.3em);
}
article.h-feed:hover {
    transform: scale(1.05);
}


article header h1 {
    font-size: 1.35em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    display: inline;
    color: var(--text);
}

article header h1 a {
    color: var(--font-color);
    border: none;
    text-decoration: none;
}
a.post {
    color: var(--font-color);
}

a.post:hover {
    color: var(--lavender);
}


.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    position: relative;
}

.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a,
.post h6 a {
    opacity: 0;
    position: absolute;
    left: -1.2rem;
}

.post h1:hover a,
.post h2:hover a,
.post h3:hover a,
.post h4:hover a,
.post h5:hover a,
.post h6:hover a {
    opacity: 1;
    border-bottom: none;
}

.post h1 a:hover,
.post h1 a:focus,
.post h1 a:active,
.post h2 a:hover,
.post h2 a:focus,
.post h2 a:active,
.post h3 a:hover,
.post h3 a:focus,
.post h3 a:active,
.post h4 a:hover,
.post h4 a:focus,
.post h4 a:active,
.post h5 a:hover,
.post h5 a:focus,
.post h5 a:active,
.post h6 a:hover,
.post h6 a:focus,
.post h6 a:active {
    border-bottom: none;
}

.post h1 svg,
.post h2 svg,
.post h3 svg,
.post h4 svg,
.post h5 svg,
.post h6 svg {
    stroke: var(--svg-color);
}

.post h1 svg:hover,
.post h1 svg:focus,
.post h1 svg:active,
.post h2 svg:hover,
.post h2 svg:focus,
.post h2 svg:active,
.post h3 svg:hover,
.post h3 svg:focus,
.post h3 svg:active,
.post h4 svg:hover,
.post h4 svg:focus,
.post h4 svg:active,
.post h5 svg:hover,
.post h5 svg:focus,
.post h5 svg:active,
.post h6 svg:hover,
.post h6 svg:focus,
.post h6 svg:active {
    stroke: var(--svg-state-color);
}

.post-info {
    color: var(--post-info-color);
    font-size: 0.75em;
    margin-top: 1em;
}

.post-info a {
    color: var(--post-info-color);
}

.post-info a:hover {
    color: var(--link-state-color);
}

.post-short-list .post-info {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.post-taxonomies {
    display: inline;
}

.post-hidden-url {
    display: none;
}

.post-hidden-author {
    display: none;
}

.post-date {
    white-space: nowrap;
}

.post-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.post-categories li {
    display: inline;
    margin-right: 1em;
}

.post-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-tags li {
    display: inline;
    margin-right: 1em;
}

article img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
}

article figcaption {
    color: var(--post-info-color);
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 2em;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

.read-more {
    margin: 1em 0;
}

.divider {
    border-top: thin solid var(--hr-color);
    display: block;
    height: 1px;
    border: 0;
    width: 25%;
    margin: 1em auto;
}

.post-summary {
    margin-top: 0.5em;
    display: block;
}

.post-summary > p {
    display: block;
}

.post-translations {
    margin-left: 0.5em;
    list-style: none;
    padding: 0;
    display: inline;
    font-size: 14px;
}

.post-translations > li {
    display: inline;
}

.post-translations > li:not(:last-child)::after {
    content: "|";
    display: inline-block;
}

.post-translations > li a {
    color: var(--link-color);
}

.post-translations > li a:hover,
.post-translations > li a:focus {
    color: var(--link-state-color);
}

.read-next-title {
    margin-bottom:  0;
}

.read-next-posts {
    margin-top:  5px;
    list-style-type:"- ";
    padding-inline-start: 20px;
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    text-align: center;
}

/* Project Cards */
.card-box {
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    padding-top: 3vw;
}

div.card {
    position: relative;
    flex-direction: column;
    height: 100%;
}

div.card-icons{
    height: 80%;
    width: 100%;
    position: relative;
    top: 30%;
    right: 10%;
}

svg.card-icon{
    position: absolute;
}

div.card > h3 {
    text-align: center;
    font-size: 13pt;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


a.card {
    text-align: center;
    margin: auto;
    width: 25vw;
    max-width: 300px;
    background-color: var(--mantle);
    box-shadow: 10px 10px 15px var(--crust);
    color: var(--text);
    aspect-ratio: 5/7;
    border-top: 2px solid var(--surface0);
    border-left: 1px solid var(--surface0);
    border-radius: 10px;
    transition-duration: .5s;
}
a.card svg {
    transition-duration: .5s;
}
a.card h3 {
    transition-duration: .5s;
    font-weight: 600;
}

a.card:nth-child(1) {
    transform: rotate(-5deg) translate(5px, -5px);
}
a.card:nth-child(2) {
    transform: rotate(-1deg) translate(5px, -7px);
}
a.card:nth-child(3) {
    transform: rotate(6deg) translate(5px, -3px);
}

a.card:hover {
    transform: scale(1.15);
    border-top: 2px solid var(--surface1);
    border-left: 1px solid var(--surface1);
}

a.card:hover svg {
    stroke: var(--lavender);
}
a.card:hover h3 {
    color: var(--lavender);
}

.pagination-item {
    background: var(--pagination-bg-color);
    padding: 0.75em 0.75em;
}

.pagination-item a {
    color: var(--pagination-link-color);
}

.pagination-item a:hover,
.pagination-item a:focus {
    color: var(--link-state-color);
}

.disabled {
    visibility: hidden;
}

.pagination-item a:hover, .pagination-item a:focus {
    border-bottom: 0;
}

.post-pagination .pagination-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 16em;
}

/* Footer */

.common-footer {
    border-top: thin solid var(--hr-color);
    padding-top: 1.5em;
    margin-top: 3em;
    font-size: 16px;
}

.common-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul.language-select, ul.footer-menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}

ul.language-select > li, ul.footer-menu > li {
    margin-right: 1em;
}

.theme-switcher {
    color: var(--switcher-color);
    background: var(--switcher-bg-color);
    padding: 0.5em 1em;
    font-size: 16px;
    border: none;
    margin-bottom: 1em;
}

.h-card {
    display: none;
}

/* Copy code  */
.highlight {
    position: relative;
    overflow: auto;
}
.highlight pre {
    padding-right: 75px;
    white-space: pre-wrap;
}

.highlight:hover .highlight-copy-btn {
    display: inline-block;
    border: 1px solid var(--bg-color);
}

.highlight-copy-btn {
    display: none;
    position: absolute;
    top: 18px;
    right: 2px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 25px;
    text-align: center;
    border-radius: 5px;
}
.highlight-copy-btn:hover {
    transition-duration: .1s;
    background-color: #666;
    border: 1px solid var(--bq-color) !important;
    cursor: pointer;
}

.highlight-copy-btn,
.highlight-copy-btn svg {
    vertical-align: middle;
    margin: 8px;
}

/*Author Profile*/
#pfp-container {
    position: relative;
    height: 20vh;
    width: 20vh;
    margin: auto;
    padding-top: 0;

}
div.pfp {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#pfp-container {
    margin-top: 5vh;
    padding-right: 2em;
}

#pfp-container div {
    position: absolute;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-size: 20vh;
    border-top: 2px solid var(--surface0);
    border-left: 1px solid var(--surface0);
    box-shadow: 10px 10px 15px var(--crust);
    transition-duration: 1s;
    transition: transform 1s, background-position 1s;
}
#pfp-container div.pfp-bottom {
    background-image: url("/media/git_avatar.png");
    z-index: 0;
    opacity: 1;
    border-top: 2px solid var(--surface0);
    border-left: 1px solid var(--surface0);
    box-shadow: 10px 10px 15px var(--crust);
}
#pfp-container div.pfp-top {
    z-index: -1;
    background-image: url("/media/avatar.jpeg");
    background-position: center;
    background-size: 120%;
}
#pfp-container:hover .pfp-top {
    transform: translate(50%, -5%);
    background-position: 10px center;
}
#pfp-container:hover .pfp-bottom {
    transform: translate(-50%, -5%);
    background-position: -20px center;
}

/* featured vis "hero" */
.figure-container{
    width: 100%;
    height: 80vh;
    padding: none;
    margin: auto;
}
.tooltip {
    border-radius: 10px;
    padding: 10px;
    background: var(--mantle);
    width: min-content;
    white-space: nowrap;
    font-size: small;
    border-top: 1px solid var(--surface1);
    border-left: 1px solid var(--surface1);
    box-shadow: 10px 10px 15px var(--crust);
}

.figure-container > svg {
    width: 90%;
    height: 100%;
    padding: 1em;
    display: inline-block;
}
.figure-container > svg > svg {
    width: 90%;
    height: 100%;
    display: inline-block;
    padding: 1em;
}

.bio-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: -10%;
    width: 130%;
    padding-bottom: 5vh;
    justify-content: space-between;
}

.bio {
    flex: 0 1 10vw;
    width: min-content;
    padding: 0;
    margin: 1em;
}

#name-container{
    white-space: nowrap;
    margin-left: 1em;
}


.hero {
    flex: 1 0 33vw;
}

h2.hero {
    font-size: x-large;
    font-weight: 800;
    text-align: center;
}


.homepage-content {
    text-align: center;
    background: var(--mantle);
    padding: 20px;
    border-radius: 10px;
    border-top: 2px solid var(--surface0);
    border-left: 1px solid var(--surface0);
    box-shadow: 10px 10px 15px var(--crust);
    width: 50%;
    margin: auto;
}
.homepage-content > p:not(:last-child) {
    margin-bottom: 30px;
}

input[type=text] {
    display: block;
    width: 61%;
    margin: auto auto;
    text-align: center;
    border: 1px solid var(--subtext0);
    border-radius: 5px;
    background-color: var(--text);
    color: var(--base)

}


/* Media Queries */

@media (max-width: 940px) {
    body {
        font-size: 12pt;
        padding: 0;
    }
    header {
        margin: auto;
        padding: 1em;
    }
    main {
        margin: auto;
    }
    article.h-entry {
        margin: 0;
    }
    article.h-feed {
        padding: 1.5rem;
        margin: 2rem;
    }
    .container{
        margin: 0;
        padding: 0;
    }
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }
    .focus {
        white-space: normal;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
        word-wrap: break-word;
    }
    a.card h3{
        font-size: 2.0vw;
    }
    div.project.card{
        position: relative;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    .post-navigation {
        background: var(--pagination-bg-color);
        text-align: center;
        padding: 0.5em 0;
    }

    .post-navigation a {
        margin-left: 0.5em;
    }

    .post-pagination .pagination-item {
        max-width: 10em;
    }

    /*bio section basically gets totally redesigned*/
    .bio-container {
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .homepage-content {
        width: 80%;
    }
    #name-container {
        flex: 1 0 50%;
        padding-left: 0vw;
    }
    h1.my-name {
        font-size: clamp(1.5em, 2vw, 4em);
    }
    .bio {
        width: 80%;
        flex: 0 1 10vh;
        margin: auto;
    }
    div.pfp {
        flex-direction: column;
        justify-content: start;
    }
    #pfp-container {
        flex: 0 10 15vw;
        height: 100%;
        width: 10vw;
        margin: 5vw;
    }
    #pfp-container div {
        height: 100%;
        width: auto;
        aspect-ratio: 1;
    }

    #pfp-container div.pfp-bottom {
        background-image: url("/media/git_avatar.png");
        z-index: 0;
        opacity: 1;
        border-top: 2px solid var(--surface0);
        border-left: 1px solid var(--surface0);
        box-shadow: 10px 10px 15px var(--crust);
        background-size: cover;
    }
    #pfp-container div.pfp-top {
        z-index: -1;
        background-image: url("/media/avatar.jpeg");
        background-position: center;
        background-size: 120%;
    }
    #pfp-container:hover .pfp-top {
        transform: translate(120%, 0vh);
        background-position: 5px center;
    }
    #pfp-container:hover .pfp-bottom {
        transform: translate(-120%, 0vh);
        background-position: 0px center;
    }
}

@media (max-width: 500px) {
    .hero-container{
        display: none;
    }
}

/*Data visualization stuff*/
div.chart-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
}

.chart {
    /*display: inline-block;*/
    margin: auto;
}

{{ range site.Params.customCSS }}
    {{ $custom := resources.Get . }}
    {{ $custom.Content }}
{{ end }}

{{ if site.Params.isso.enabled }}
  #isso-thread .textarea {
    color: #000;
  }
  #isso-thread .isso-feedlink {
    position: relative;
    z-index: 1;
  }
{{ end }}

